// @import '../../Assets/fonts/AvenirNextLTPro-Bold.otf';

@import '../styles/mixins.scss';


.person {
    &__header {
        font-family: '$font-family-demi-bold';
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        // margin: 16px 0;
        justify-content: space-around;
        border-bottom: 2px solid grey;
        padding: 16px 0 8px 0;
        // background-color: #f7efef;
        background-color: #fffdfb;
    }
}