// @import '../../Assets/fonts/AvenirNextLTPro-Bold.otf';

@import '../styles/Variables.scss';

.main {
  
  background-color: #fffdfb;

  &__header {
    display: flex;
    border-bottom: 2px solid grey;
    padding: 16px 0 8px 0;
   
    &--icon {
        margin-right: 7.5rem;
        margin-left: 16px;
    }

    &--profile {
      font-family: $font-Avenir-Bold;
      display: flex;
      font-size: 1.5rem;
      font-weight: bold;
     
    }
  }
}
