// .person__container {
//     background-color: #faf3eb6b;
// }

.post {
        margin-right: 16px;
        margin-left: 16px;
        padding: 16px 0;
        border-bottom: 1px solid grey;
        background-color: #faf3eb6b;
        

    &__details {
        display: flex;
        flex-direction: row;
        justify-content: left;
       
        &--name, &--trade, &--comment, &--date, &--rate, &--reviewer {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 0px 8px 8px 0;
        }

        &--name1, &--trade1, &--comment1, &--date1, &--rate1, &--reviewer1 {
            font-size: 1.3rem;
            margin: 0px 8px 8px 0;
        }
        &--id {
            font-size: 1.1rem;
            margin: 1.8px 8px 8px 0;
        }

        &--rating {
            font-size: 1.1rem;
            // margin-left: 8px;
            justify-self: right;
        }
    }
}

// .request {
//         display: flex;
//         justify-content: space-between;
//         margin: 0.2rem 0rem;

//         &__form1, &__form2 {
//             font-size: 0.9rem;
//         }
    
// }